# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LeetCode Solutions\Reverse Integer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
